In [2]:
import sys
sys.version_info

sys.version_info(major=3, minor=9, micro=1, releaselevel='final', serial=0)

# Default DIct

In [7]:
from collections import Counter

In [11]:
names=Counter([1,2,3,4,5,4,3,4,6,2])
print(names)

Counter({4: 3, 2: 2, 3: 2, 1: 1, 5: 1, 6: 1})

In [12]:
print(names.most_common(3))

[(4, 3), (2, 2), (3, 2)]

In [13]:
Intro={
    "name":"rache",
    "age":30,
    "address":"Mumbai"
}

In [16]:
Intro['address']

'Mumbai'

In [26]:
#  Intro['income']
# if 'income' in Intro.keys():
#     print(Intro('Income'))
# # raise Exception ('There no key available here')
# else:
#     print('Not Found')

Not Found

In [31]:
Intro.get('income','Not Found')

'Not Found'

In [42]:
from collections import defaultdict

In [84]:
nums=defaultdict(dict)

In [85]:
nums['one']=1
nums['two']=2

In [89]:
nums

defaultdict(dict, {'one': 1, 'two': 2, 'three': {}, 'five': {}})

In [87]:
nums['three']

{}

In [88]:
nums['five']

{}

In [110]:
count=defaultdict(int)
name_list="Mike Mike John Anna Rafel Nitchel John Anna John Mike Rafel".split()
for names in name_list:
    count[names] +=1
print(count)

defaultdict(<class 'int'>, {'Mike': 3, 'John': 3, 'Anna': 2, 'Rafel': 2, 'Nitchel': 1})

# Ordered Dict

In [121]:
from collections import OrderedDict,Counter
od=OrderedDict()
od['a']=1
od['b']=2
od['c']=3
print(od)

OrderedDict([('a', 1), ('b', 2), ('c', 3)])

In [117]:
od['a']=15

In [118]:
od

OrderedDict([('a', 15), ('b', 2), ('c', 3)])

In [122]:
list=["a","c","c","a","b","a","a","b","c"]
cnt=Counter(list)
od=OrderedDict(cnt.most_common())
for k,v in od.items():
    print(k,v)

a 4
c 3
b 2

# Deque

In [1]:
from collections import deque

In [2]:
deq=deque(["a","b","c"])
print(deq)

deque(['a', 'b', 'c'])

In [3]:
type(deq)

collections.deque

In [5]:
deq.append("d")

In [6]:
deq # normally items is append from right

deque(['a', 'b', 'c', 'd'])

In [7]:
deq.appendleft("e")

In [8]:
deq

deque(['e', 'a', 'b', 'c', 'd'])

In [9]:
deq.pop() #normally it removes from right

'd'

In [10]:
deq.popleft()

'e'

In [11]:
deq

deque(['a', 'b', 'c'])

# ChainMap

In [13]:
from collections import ChainMap

In [19]:
dict1={'a':1,'b':2}
dict2={'c':3,'b':4}
# dict3=dict1+dict2  it's shows error('unsupported operand type(s) for +: 'dict' and 'dict'')
# dict1.update(dict2) #it overwrite
dict1

{'a': 1, 'b': 2}

In [21]:
chainmap=ChainMap(dict1,dict2) # to avoid overwrite use chain map

In [28]:
chainmap.maps

[{'a': 1, 'b': 2}, {'c': 3, 'b': 4}]

In [36]:
chainmap['b']

2

# Pytz

In [31]:
pip install pytz

Requirement already satisfied: pytz in c:\users\a_man\appdata\local\programs\python\python39\lib\site-packages (2018.5)Note: you may need to restart the kernel to use updated packages.

In [33]:
import pytz
from datetime import datetime

In [34]:
all_timezones=pytz.all_timezones

In [7]:
[i for i in all_timezones[5:15]]

['Africa/Asmera',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre',
 'Africa/Brazzaville',
 'Africa/Bujumbura',
 'Africa/Cairo',
 'Africa/Casablanca']

In [49]:
[i for i in all_timezones if i.startswith('Jap')]

['Japan']

In [38]:
timezone_newyork=pytz.timezone('America/New_York')

In [39]:
time_using_timezone_newyork=datetime.now(tz=timezone_newyork)

In [40]:
print(time_using_timezone_newyork)

2021-06-10 05:11:39.393669-04:00

In [44]:
print(f"Indian time is:{datetime.now()}")

Indian time is:2021-06-10 14:42:43.274010

In [45]:
jpn=pytz.timezone('Japan')

In [50]:
time_using_timezone_newyork=datetime.now(tz=jpn)

In [51]:
print(jpn)

Japan

In [52]:
print(f"Japan time is:{datetime.now(tz=jpn)}")

Japan time is:2021-06-10 18:16:06.017631+09:00

In [53]:
datetime_with_specific_timezone=datetime.utcnow()

In [54]:
datetime_with_specific_timezone

datetime.datetime(2021, 6, 10, 9, 17, 42, 572557)

In [56]:
timezone=pytz.timezone('Asia/Calcutta')

In [57]:
datetime_with_specific_timezone=datetime.utcnow().astimezone(tz=timezone)

In [58]:
datetime_with_specific_timezone

datetime.datetime(2021, 6, 10, 9, 21, 13, 524514, tzinfo=<DstTzInfo 'Asia/Calcutta' IST+5:30:00 STD>)

# Calender

In [65]:
import calendar

In [78]:
print(calendar.month(2021,6,1))

     June 2021
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

In [81]:
print(calendar.calendar(2021))

                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [83]:
calendar.isleap(2020)

True

In [84]:
calendar.leapdays(1921,2021)

25

In [85]:
'''
0 mon
1 tue
2 wed
3 thu
4 fri
5 sat
6 sun
'''

'\n0 mon\n1 tue\n2 wed\n3 thu\n4 fri\n5 sat\n6 sun\n'

In [87]:
calendar.weekday(2021,6,10)

3

In [88]:
calendar.weekday(2021,6,30)

2

In [93]:
calendar.weekheader(3)

'Mon Tue Wed Thu Fri Sat Sun'

In [96]:
calendar.monthrange(2019,6)

(5, 30)

In [98]:
calendar.monthcalendar(2021,6)

[[0, 1, 2, 3, 4, 5, 6],
 [7, 8, 9, 10, 11, 12, 13],
 [14, 15, 16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25, 26, 27],
 [28, 29, 30, 0, 0, 0, 0]]

# <font color='red'>Assignment</str>

In [111]:
def Introduction(fname,lname,age,add,qualification,salary=1500000):
    return f"the name is {fname} {lname},i'm {age}year old,lived in {add},my package is {salary} p.a., i have {qualification} degree"

In [ ]:
Introduction('ashwin','mandaokar',26,'chd','m.c.m')

In [ ]:
def Introduction(fname='ashwin',lname='mandaokar',age=26,salary=1500000,add='chd',qualification='M.C.M'):
    print(f"the name is {fname} {lname},i'm {age}year old,lived in {add},my package is {salary} p.a., i have {qualification} degree")

the answer is:
all required parameter must be placed before any default arguments and it will  confuses the 
interpreter which value match the which argument i.e., it shows error..
the corrected code are as follows.
def Introduction(fname,lname,age,add,qualification,salary=1500000):
    return f"the name is {fname} {lname},i'm {age}year old,lived in {add},my package is {salary} p.a., i have {qualification} degree"