In [3]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [13]:
def myfun(n):
    return abc(15,3)
def abc(a,n):
    return a*n
myfun(3)

45

In [14]:
def myfunc(n):
  return def abc(a):
            return a*n

SyntaxError: invalid syntax (<ipython-input-14-4d2eccf0a6f0>, line 2)

In [20]:
print('1')
print('1'*2)
print('1'*3)
print('*'*4)

1
11
111
****

# Lambda

In [21]:
def add_me(x,y):
    return x+y

In [22]:
add_me(3,5)

8

In [24]:
#using lamda
add_me_too=lambda x,y:x+y

In [25]:
add_me_too(1,2)

3

In [26]:
def myfun(n):
    return lambda a:a*n

In [27]:
Doubled=myfun(5)

In [29]:
Doubled(12)

60

In [30]:
# def multiply_me(a,b):
#     return a*b
# equivalent
multiply_me=lambda a,b:a*b

In [31]:
multiply_me(9,9)

81

In [5]:
# def subtract_me(a,b):
#     return a-b
# equivalent
subtract_me=lambda a,b:a-b

In [6]:
subtract_me(9,8)

1

# List Comprehension

In [35]:
items=[1,2,3,4,5,6,7,8,9,10]

In [38]:
for i in items:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [40]:
[f"the no is:{i}" for i in items]

['the no is:1',
 'the no is:2',
 'the no is:3',
 'the no is:4',
 'the no is:5',
 'the no is:6',
 'the no is:7',
 'the no is:8',
 'the no is:9',
 'the no is:10']

In [41]:
print('The no is:')
[i for i in items]

The no is:

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [42]:
for i in items:
    if i>2:
        print(i)

3
4
5
6
7
8
9
10

In [43]:
[i for i in items if i>2]

[3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
for i in items:
    if i>2:
        print("i>>>>>>2")
    else:
        print("i <2")

i <2
i <2
i>>>>>>2
i>>>>>>2
i>>>>>>2
i>>>>>>2
i>>>>>>2
i>>>>>>2
i>>>>>>2
i>>>>>>2

In [49]:
["i>>>2" if i>2 else "i<2" for i in items]

['i<2',
 'i<2',
 'i>>>2',
 'i>>>2',
 'i>>>2',
 'i>>>2',
 'i>>>2',
 'i>>>2',
 'i>>>2',
 'i>>>2']

# Filter

In [8]:
# filter function only works on the function that print true or false
findOddNo=lambda x:x%2!=0
findEvenNo=lambda x:x%2==0


list2=[1,2,3,4,5,6,7,8,9,10]
list(filter(findEvenNo,list2))

[2, 4, 6, 8, 10]

# Reduce

In [2]:
from functools import reduce

In [57]:
reduce(add_me_too,list2)

55

In [9]:
reduce(subtract_me,list2)

-53

In [ ]:
reduce(multiply)